<div class = "menucontainer" style = "flex-direction: column">
  <h1>How to Play</h1>
  <p style = "width: 100%;">
    In Game Pending…| you join a group of players and try to make them laugh. Each round you will be presented with a new scenario with blank spots purposely omitted. Your job as the player is to fill those blanks with the words on your cards to make the scenario funnier or coherent enough so that the scenario ruler will reward you a point. Once you’ve gained enough points you win the game and can play again.
  </p>
  <button mat-raised-button routerLink="/mainmenu" routerLinkActive="active" style = "width: 100%; height: 100px;">Back</button>
</div>
